*.dart linguist-language=Dart
*.cpp linguist-vendored=true
*.cc linguist-vendored=true
*.h linguist-vendored=true
android/ linguist-vendored=true
ios/ linguist-vendored=true
windows/ linguist-vendored=true
macos/ linguist-vendored=true
linux/ linguist-vendored=true